body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #ffffff;
    background-image: url('background-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #e3ecf1;
    /* width: 100%; */
    padding: 1rem;
    margin: 0;
}

#weather-container {
    margin-top: 5rem;
    align-items: center;
}

#locationInput {
    padding: 10px;
    border: 1px solid #92c7e9;
    border-radius: 15px;
    margin-right: 10px;
    align-items: center;
    padding: 1rem;
}

#getWeatherBtn {
    padding: 10px 20px;
    background-color: #021f31;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    margin-right: 100px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1rem;
}

#getWeatherBtn:hover {
    background-color: #0283ba;
}

#weather-info {
   
    display: inline-block;
    align-items: center;
    background-color: #dbf3ff;
    padding: 10px;
    border: 1px solid #67b5e6;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-top: 4rem; 
    border: none;
}
p{
   padding: 0.5rem 3rem 0.5rem 3rem;
   font-size: 1.3rem;
   font-weight: 500;
}